@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style-type: none
}
.annotationDescription {
  pointer-events: none;
  font-size: 14px;
  position: absolute;
  top: 20px;
  padding: 1em;
  width: 200px;
  background: rgba(0, 0, 0, 0.66);
  border-radius: 0.5em;
  display: block;
}
body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}
.loader {
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background: #18181b;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #ring  {
  animation: rotateFirstRing 2s linear ;
}

@keyframes rotateFirstRing {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */
canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: auto;
}

.sidebarMenuButton {
  
  position: relative;
  z-index: 51;
  

  transition: transform 0.8s cubic-bezier(0.6, 0.45, 0.443);
}

.sidebar-button {

  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  background: 0 0;
  transition: transform 0.8s cubic-bezier(0.6, 0.45, 0.443);
}

.sidebar-button span {
  font-size: 40px;

}

.menu-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(-110%);
  transition: transform 1s cubic-bezier(1, 0, 0, 1);
  will-change: transform;
  background: black;
  
  z-index: 16;

  &.open {
    transform: translateX(0%);
  }
}

.menu-container {
  position: absolute;
  left: 200px;
  top: 100px;
  overflow: hidden;
  width: calc(90vw - 250px);

}

.links li {
  margin-bottom: 40px;
  color: pink;

}

.links a {
  display: block;
  font-size: clamp(45px, 4vw, 52px);
  line-height: 1.1em;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.065, 0.20);
  text-transform: uppercase;
  font-family: "Anta", sans-serif;

  font-weight: 400;
  font-style: normal;
  transform: scale(0.90);
  opacity: .25;

}

.menu-container a:not(:hover) {
  transform: scale(.90);
  opacity: .25;
}

.links a:hover {
  cursor: pointer;
  font-weight: 800;
  transform: scale(1);
  opacity: 1;
}

.links img {
  pointer-events: none;
  opacity: 0;
  aspect-ratio: 16/9;
  display: block;
  width: 30vw;
  position: absolute;
  top: 50%;
  right: 10%;
  object-fit: cover;
  transform: translateY(-50%) translateX(-30px);
  transition: transform 0.5s ease-in-out;

  filter: brightness(1.3) grayscale(0.5) contrast(0.8);
}

.links li:hover img {
  opacity: 1;
  transform: translateY(-50%) translateX(30%);

}




.main-container {
  padding-right: 500px;
  box-sizing: border-box;
}

.c-fixed_target {
  position: absolute;
  top: -100vh;
  right: 0;
  left: 0;
  bottom: -100vh;
}

.scroll-container {
  margin-right: 500px;
}

.content {
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
  width: 250vw;
  padding-left: 12vw;
  height: 100%;
  position: relative;
  align-items: center;
  background-color: white;
}

.gallery-helper {
  grid-area: 43/1 / span 2 / span 1;
  font-size: 20px;
}

.behind-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12em;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 500;

  letter-spacing: 50px;

  &.fill {
    color: rgba(0, 0, 0, 0.2);
  }

  &.outline {
    z-index: 2;
    mix-blend-mode: overlay;
  }
}



.gallery-item {
 
  z-index: 1;
  

  height: 100%;

 
  

  
}

.gallery__item-imginner {
  background-size: cover;
  background-position: center;
  transform-origin: center left;

  width: 100%;
  height: 100%;
  will-change: transform;
  transform: scale(1.1);
  transition: transform 2s cubic-bezier(0.77, 0, 0.175, 1);
}
.galery-text{
color: black;
width: 150%;
border: 1px solid black;
object-fit: cover;
}
/* #ring {
  
  animation: rotateFirstRing 11s linear infinite;
}
@keyframes rotateFirstRing {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center
  }

  .nav-height {
    @apply h-[calc(100vh-60px)]
  }

  .btn {
    @apply px-5 py-2 rounded-3xl bg-blue my-5 hover:bg-transparent border border-transparent hover:border hover:text-blue hover:border-blue
  }

  .color-container {
    @apply flex items-center justify-center px-4 py-4 rounded-full bg-gray-300 backdrop-blur
  }

  .size-btn-container {
    @apply flex items-center justify-center p-1 rounded-full bg-gray-300 backdrop-blur ml-3 gap-1
  }

  .size-btn {
    @apply w-10 h-10 text-sm flex justify-center items-center bg-white text-black rounded-full transition-all
  }

  .common-padding {
    @apply sm:py-32 py-20 sm:px-10 px-5
  }

  .section-heading {
    @apply text-gray lg:text-6xl md:text-5xl text-3xl lg:mb-0 mb-5 font-medium opacity-0 translate-y-20
  }

  .feature-text {
    @apply text-gray max-w-md text-lg md:text-xl font-semibold opacity-0 translate-y-[100px]
  }

  .feature-text-container {
    @apply w-full flex-center flex-col md:flex-row mt-10 md:mt-16 gap-5
  }

  .feature-video {
    @apply w-full h-full object-cover  object-center scale-150 opacity-0
  }

  .feature-video-container {
    @apply w-full flex flex-col md:flex-row gap-5 items-center
  }

  .link {
    @apply text-blue hover:underline cursor-pointer flex items-center text-xl opacity-0 translate-y-20
  }

  .control-btn {
    @apply ml-4 p-4 rounded-full bg-gray-300 backdrop-blur flex-center
  }

  .hero-title {
    @apply text-center font-semibold text-6xl text-gray-100 opacity-0 max-md:mb-10  
  }

  .hiw-title {
    @apply text-4xl md:text-7xl font-semibold text-center
  }

  .hiw-subtitle {
    @apply text-gray font-semibold text-xl md:text-2xl py-10 text-center
  }

  .hiw-video {
    @apply absolute w-[75%] h-[60%] ml-5 items-center overflow-hidden 
  }

  .hiw-text-container {
    @apply flex md:flex-row flex-col justify-between items-start gap-24
  }

  .hiw-text {
    @apply text-gray text-xl font-normal md:font-semibold
  }

  .hiw-bigtext {
    @apply text-white text-3xl md:text-5xl font-normal md:font-semibold my-2
  }

     .video-carousel_container {
       @apply relative sm:w-[70vw] w-[88vw] md:h-[70vh] sm:h-[50vh] h-[35vh]
     }
.carousell-edit {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 5px;
  
  display: block ;
   object-fit: cover;
   gap: 50px;
}
  .g_fadeIn {
    @apply opacity-0 translate-y-[100px]
  }
}